---
layout: empty
---
<div class="wrapper">
<div class="header">
<div class="container">
<strong><a href="/">Sophie Alpert</a></strong>
</div>
</div>
{{content}}
<div class="push"></div>
</div>
<div class="footer">
<div class="container">
<div class="right"><a href="/atom.xml">rss</a></div>
<a href="mailto:hi@sophiebits.com">email</a> &bull;
<a href="http://twitter.com/sophiebits">twitter</a> &bull;
<a href="http://github.com/sophiebits">github</a> &bull;
<a href="http://stackoverflow.com/users/49485/sophie-alpert">stack overflow</a>
</div>
</div>
